In [ ]:
CREATE DATABASE TestDB

In [ ]:
USE TestDB

In [ ]:
CREATE TABLE [dbo].[TableA](
[FirstName] [nvarchar](50) NOT NULL,
[LastName] [nvarchar](50) NOT NULL,
[DateOfBirth] [date] NULL,
[Country] [nvarchar](3) NULL
) ON [PRIMARY]

In [ ]:
SELECT * FROM TableA

In [ ]:
ALTER TABLE [dbo].[TableA] 
    ADD Test [nvarchar](3) NOT NULL

In [ ]:
SELECT * FROM TableA

In [ ]:
ALTER TABLE [dbo].[TableA] 
    DROP COLUMN Test

In [ ]:
SELECT c.Name,ty.Name  FROM sys.tables t 
INNER JOIN sys.columns c ON t.object_id = c.object_id
INNER JOIN sys.types ty on c.system_type_id = ty.system_type_id
WHERE t.Name = 'TableA' and ty.Name <> 'sysname'

In [ ]:
INSERT INTO TableA (FirstName,LastName,DateOfBirth,Country)
VALUES
('Ben','Weissman','01.01.1900','GER')

In [ ]:
SELECT * FROM TableA

In [ ]:
INSERT INTO TableA (FirstName,LastName,DateOfBirth,Country)
SELECT 'John','Doe','01.01.1901','US'

In [ ]:
SELECT * FROM TableA

In [ ]:
INSERT INTO TableA (FirstName)
SELECT FirstName FROM AdventureWorks2019.Person.Person A

In [ ]:
INSERT INTO TableA (FirstName,LastName)
SELECT FirstName,LastName FROM AdventureWorks2019.Person.Person A

In [ ]:
SELECT * FROM TableA

In [ ]:
DELETE FROM TableA WHERE Country IS NULL

In [ ]:
SELECT * FROM TableA

In [ ]:
DELETE FROM TableA WHERE DateOfBirth > '01.01.1900'

In [ ]:
SELECT * FROM TableA

In [ ]:
UPDATE TableA SET Country = 'DE' WHERE COUNTRY = 'GER'

In [ ]:
UPDATE TableA SET Country = 'DE' WHERE COUNTRY = 'GER'

In [ ]:
SELECT * FROM TableA

In [ ]:
DROP TABLE TableA

In [ ]:
SELECT * FROM TableA

In [ ]:
USE AdventureWorks2019

In [ ]:
SELECT FirstName,LastName FROM Person.Person

In [ ]:
SELECT TOP 5 FirstName,LastName FROM Person.Person

In [ ]:
SELECT TOP 5 FirstName,LastName FROM Person.Person ORDER BY FirstName

In [ ]:
SELECT TOP 5 FirstName,LastName,PhoneNumber FROM Person.Person Per
INNER JOIN Person.PersonPhone Pho on per.businessentityid = pho.businessentityid
ORDER BY FirstName

In [ ]:
SELECT TOP 5 FirstName,LastName,PhoneNumber FROM Person.Person Per
INNER JOIN Person.PersonPhone Pho on per.businessentityid = pho.businessentityid
WHERE NOT PhoneNumber like '___-___-____'
ORDER BY FirstName